{% extends 'base.html.twig' %}

{% block title %}Hello CompaniesController!{% endblock %}

{% block body %}
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <nav id="sidebar">
                        <div class="sidebar-header">
                            <h3>Bootstrap Sidebar</h3>
                        </div>
                
                        <ul class="list-unstyled components">
                            <p>Dummy Heading</p>
                            <li class="active">
                                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                                <ul class="collapse list-unstyled" id="homeSubmenu">
                                    <li>
                                        <a href="#">Home 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Home 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Home 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                                <ul class="collapse list-unstyled" id="pageSubmenu">
                                    <li>
                                        <a href="#">Page 1</a>
                                    </li>
                                    <li>
                                        <a href="#">Page 2</a>
                                    </li>
                                    <li>
                                        <a href="#">Page 3</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </nav>                
                </div>
                <div class="col-10">
                    <h1>Information Entreprise</h1>
                    <div class="container p-5">
                        {{form_start(form)}}
                        <div class="row mb-4">
                            <div class="col">
                              <div class="form-outline">
                                {{form_widget(form.name, {'attr': {'class': 'form-control'}})}}
                                {{form_label(form.name)}}
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-outline">
                                    {{form_widget(form.siret, {'attr': {'class': 'form-control'}})}}
                                    {{form_label(form.siret)}}
                                    <small id="nameHelp" class="form-text text-muted">{{form_help(form.siret)}}</small>
                              </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col">
                              <div class="form-outline">
                                {{form_widget(form.phone, {'attr': {'class': 'form-control'}})}}
                                {{form_label(form.phone)}}
                                <small id="nameHelp" class="form-text text-muted">{{form_help(form.phone)}}</small>
                              </div>
                            </div>
                            <div class="col">
                              <div class="form-outline">
                                    {{form_widget(form.fax, {'attr': {'class': 'form-control'}})}}
                                    {{form_label(form.fax)}}
                                    <small id="nameHelp" class="form-text text-muted">{{form_help(form.fax)}}</small>
                              </div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{form_label(form.is_searching)}}
                            {{form_widget(form.is_searching, {'attr': {'class': 'form-control'}})}}
                        </div>
                        <div class="form-group searching-for d-none">
                            {{form_label(form.searching_for)}}
                            <ul id="recruiting-field" class="list-group"
                            data-prototype="{{ form_widget(form.searching_for.vars.prototype)|e }}"
                            data-widget-tags="{{ '<li></li>'|e }}"
                            data-widget-counter="{{ form.searching_for|length }}">
                            {% for entry in form.searching_for %}
                                <li>
                                    {{ form_errors(entry) }}
                                    {{ form_widget(entry) }}
                                </li>
                            {% endfor %}
                            </ul>
                            <button type="button" class="btn btn-primary add-another-recruiting-field" data-list-selector="#recruiting-field">Ajouter</button>
                        </div>
                        <div class="form-group">
                            {{form_label(form.logo)}}
                            {{form_widget(form.logo, {'attr': {'class': 'form-control'}})}}
                        </div>
                        <div class="form-group">  
                            {{form_label(form.linkedin)}}
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">https://www.linkedin.com/</span>
                                </div>
                                    {{form_widget(form.linkedin, {'attr': {'class': 'form-control'}})}}
                            </div>
                        </div>
                        <div class="form-group">
                            {{form_label(form.website)}}
                            {{form_widget(form.website, {'attr': {'class': 'form-control'}})}}
                        </div>
                        <div class="form-group">
                            {{form_label(form.searched_region)}}
                            {{form_widget(form.searched_region, {'attr': {'class': 'form-control'}})}}
                        </div>
                        {{ form_row(form._token) }}
                        <div class="form-group mt-5">
                            {{form_row(form.Submit)}}
                        </div>
                    </div>
                    </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    jQuery(document).ready(function () {
        function addAnotherCollectionField(element = ''){
            var list = $('#'+element)
            // Try to find the counter of the list or use the length of the list
            var counter = list.data('widget-counter') || list.children().length;
    
            // grab the prototype template
            var newWidget = list.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            newWidget = newWidget.replace(/__name__/g, counter);
            // Increase the counter
            counter++;
            // And store it, the length cannot be used if deleting widgets is allowed
            list.data('widget-counter', counter);
            
            // create a new list element and add it to the list
            var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
            newElem.children().first().addClass('form-control')
            newElem.addClass('list-group-item')
            newElem.appendTo(list);
    }
        $('#companies_is_searching_0').click(function() {
            if($(this).is(':checked')){
                 $('div.searching-for').removeClass('d-none');
            }
            else{
                $('div.searching-for').addClass('d-none');
            }
         });
         $('#companies_is_searching_1').click(function() {
            if($(this).is(':checked')){
                 $('div.searching-for').addClass('d-none');
            }
         });
         $('.add-another-recruiting-field').click(function() {
            addAnotherCollectionField('recruiting-field')
         });

})

</script>
{% endblock %}