<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Home - FindAJob{% endblock %}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    />
    {# Run `composer require symfony/webpack-encore-bundle` to start using
    Symfony UX #} 
    {% block stylesheets %}{{encore_entry_link_tags("app")}}{% endblock %}
  </head>
  <body>
    {% block header %}
    <header id="site-header" class="container pt-5">
      <div class="row">
        <div class="col-3">
          <div id="site-logo" class="">
            <a href="/"> 🚀 FindAJob </a>
          </div>
        </div>

        <div class="col-9 d-flex justify-content-end">
          <nav id="navbar" class="navbar me-5">
            <ul class="navbar-items d-flex">
              {% if app.user == null %}
              <li>
                <a href="{{path('app_logout')}}" class="btn btn-primary menu-link button">
                  Sign in
                  <span></span>
                </a>
              </li>
              <li>
                <a href="{{path('app_register')}}" class="btn btn-primary menu-link button">
                  Sign Up
                  <span></span>
                </a>
              </li>
              {% else %}
              <li>
                <a title="Mon Profil" href="profile-candidate.html" class="menu-link button">
                  ⚙ Mon Profil
                </a>
              </li>
              <li>
                <a href="{{path('app_logout')}}" class="btn btn-primary menu-link button">
                  Déconnexion
                  <span></span>
                </a>
              </li>
              {% endif %}
            </ul>
          </nav>
          {% if app.user != null %}
            {% for roles in app.user.roles %}
            {% if roles == 'ROLE_ADMIN' %}
              <nav id="navbar-admin" class="navbar">
                <span class="title">Admin</span>

                <ul class="navbar-items d-flex">
                  <li>
                    <a
                      title="Gérer les employeurs"
                      href="admin/companies.html"
                      class="menu-link admin button black"
                    >
                      Gérer les employeurs
                    </a>
                  </li>

                  <li>
                    <a
                      title="Gérer les candidats"
                      href="admin/candidates.html"
                      class="menu-link admin button black"
                    >
                      Gérer les candidats
                    </a>
                  </li>
                </ul>
              </nav>
            {% endif %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% for label, messages in app.flashes %}
        {% for message in messages %}
              <div class="alert alert-{{label}} flash-{{ label }} alert-dismissible fade show text-center" role="alert">
                {{ message }}
                <button type="button" class="btn close float-end p-0" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">X</span>
                </button>
              </div>
        {% endfor %}
        {% endfor %}
    </header>
    {% endblock %}
    {% block body %}
      {# read and display all flash messages #}
    {% endblock %}
    {% block footer %}
    <footer id="site-footer" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-12 d-flex justify-content-center">
            <div class="copyright" role="contentinfo">
              © Copyright 2021 – FindAJob
            </div>
          </div>
        </div>
      </div>
    </footer>
    {% endblock %} {% block javascripts %}
    {{ encore_entry_script_tags("app") }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
      jQuery(document).ready(function () {
          $('.close').on('click', function(e){
            $(".alert").alert('close')
          })
      })
    </script>
    {% endblock %}
  </body>
</html>
